body {
    background-color: gray;
    width: 80vw;
    height: 600vh;
    padding: 20px;
}

header, footer {
  background: #000000;
  color: #fff;
  padding: 16px 0;
  text-align: center;
}

.nav { 
    display: flex;
    gap: 18px;
    margin: 16px 0;
}

.nav h1,
.nav p {
    background-color: black;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.country {
  background: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 14px rgba(70,70,90,0.14);
  padding: 22px 26px;
  margin-bottom: 18px;
  border-left: 4px solid #4284f5;
  max-width: 350px;
}

.btn-fase {
  display: inline-block;
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 4px;
  background: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 6px 4px 6px 0;
}

.country img {
    max-width: 5%;
    padding-bottom: 2px;
}

.statistic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.statistic > div {
  background: #ffe162;
  color: #000000;
  padding: 20px 0;
  border-radius: 5px;
  text-align: center;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.players > h3 {
  background: #000000;
  color: #b500a9;
  padding: 20px 0;
  border-radius: 5px;
  text-align: center;
}

.results {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.results > div {
  background: #4284f5;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}